body{
    background: url("787170.jpg") repeat-y;
    background-size: cover;
}
.p{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 0px 50px whitesmoke;
}